@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-50: #f2f7ec;
  --color-brand-100: #e1edd7;
  --color-brand-200: #c5dbb1;
  --color-brand-300: #a2c484;
  --color-brand-400: #8bb657;
  --color-brand-500: #7db03d;
  --color-brand-600: #628c2f;
  --color-brand-700: #4b6b24;
  --color-brand-800: #3a531c;
  --color-brand-900: #212f10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
